// COLOURS
$color-red:             #F33737;
$color-red-darker:      #B20707;
$color-red-darkest:     #4D0000;
$color-red-lighter:     #FF7C7C;
$color-red-lightest:    #FFDFDF;

$color-orange:          #F38C37;
$color-orange-darker:   #B25407;
$color-orange-darkest:  #4D2300;
$color-orange-lighter:  #FFB77C;
$color-orange-lightest: #FFEDDF;

$color-blue:            #219292;
$color-blue-darker:     #046B6B;
$color-blue-darkest:    #002E2E;
$color-blue-lighter:    #5ABABA;
$color-blue-lightest:   #D5F3F3;

$color-green:           #2CC22C;
$color-green-darker:    #068E06;
$color-green-darkest:   #003E00;
$color-green-lighter:   #6BDC6B;
$color-green-lightest:  #DAF9DA;

$color-purple:          #782BA2;
$color-purple-darker:   #500B77;
$color-purple-darkest:  #220134;
$color-purple-lighter:  #A366C5;
$color-purple-lightest: #EBD8F5;

$color-yellow:          #F3B437;
$color-yellow-darker:   #B27907;
$color-yellow-darkest:  #4D3400;
$color-yellow-lighter:  #FFD37C;
$color-yellow-lightest: #FFF4DF;

$color-background:      #FFFFFF;
$color-on-background:   #000000;