@use 'theme';

:root {
    font-size:          16px;
    font-family: 'Open Sans', sans-serif;
}

body {
    // RESET MARGIN AND PADDING ON BODY
    margin:     0;
    padding:    0;

}

.canvas {
    // MAINTAIN 100:70 ASPECT-RATIO
    position:       relative;
    width:          100vw;
    height:         70vw;

    // CONTENT LAYOUT
    display:        flex;
    flex-flow:      row nowrap;

    .window {
        position: absolute;
        background-color: theme.$color-red-lightest;

        .title {
            font-family: 'Inconsolata', monospace;
            line-height:    2rem;
            height:         2rem;
            padding:    0 1rem 0 1rem;
            margin:     0;
            width: inherit;
            background-color: theme.$color-red;
        }

        .view {
            padding: 0.25rem;  
            background-color: theme.$color-red-lightest;
        }
    }

    .window.anime {
        bottom: 40%;
        right: 85%;
        z-index: -1000; 

        img:nth-child(1) {
            width: fit-content;
            height: auto;
        }
    }

    .window.identity {
        bottom: 50%;
        right: 75%; 

        img:nth-child(1) {
            width: fit-content;
            height: auto;
        }

        img:nth-child(2) {
            position: absolute; 
            left: -10%;
            top: 2rem;
        }
    }

    .window.sharing {
        right: 0;
        bottom: 0;
    }
    
    .panel {
        position:   relative;
        width:      100%;
        height:     100%;

        .surface {
            position: absolute;
            div { position: relative; }

            top:    1rem; bottom: 1rem;
            left:   1rem; right: 1rem;

            display: flex;
            flex-flow: column nowrap;
        }

        .surface.online {
            background-color: theme.$color-purple-lightest;
            border-radius: 2rem;

            .screen {
                height: 100%;
                margin: 4rem 1rem 1rem 1rem;
                border-radius: 0.5rem;
                background-color: theme.$color-background;

                display: flex;
                flex-flow: column-reverse nowrap;
                overflow: hidden;

                .message {
                    position: relative;
                    height: 6rem;
                    width: 100%;

                    img {
                        width: 100%; height: 100%;  
                        padding: 1rem; max-width: 4rem; max-height: 4rem; 
                    }
                }

                .message.bad {
                    background-color: theme.$color-red-lighter;
                    color: #ffffff;


                }
            }
            
            .bar {
                height: 6rem;
                border-radius: 0 0 2rem 2rem;
                background-color: theme.$color-red-lighter;

                // CONTENT BEHAVIOUR
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;

                img { 
                    height: 100%;
                    width: auto;
                }
            }
        }

        .surface.within {
            overflow: hidden;
            .healing  {
                flex-grow: 1;
                height: 50%;    
                border-radius: 2rem 2rem 0 0;
                background-color: theme.$color-red-lightest;
                padding: 2rem;

                img { 
                    position: absolute;
                    width: 100%;
                    height: auto;
                }


                
                // CONTENT BEHAVIOUR
                display: flex;
                flex-flow: column-reverse nowrap;
                p { 
                    margin: 1rem 0;  font-size: 1.5rem; z-index: 1000; text-align: right; 
                    font-family: 'Inconsolata', monospace;
                    width: 100%;
                }

                p:nth-child(1) { padding-right: 1.235rem; }

            }
            
            div:nth-child(2) {
                flex-grow: 2;
                background-color: theme.$color-purple-lighter;

                // CONTENT BEHAVIOUR
                display: flex;
                flex-flow: column-reverse nowrap;
                
                img { width: 100%; bottom: 0; }
            }
        }

        .surface.outside {
            background-color: theme.$color-red-lighter;
        }
    }
}

.text {
    // MAINTAIN 100:70 ASPECT-RATIO
    position:       relative;
    width:          100vw;

    padding: 6rem 0;

    h1, h3 {
        text-align: center;
        margin: 0;
    }
}

@media (min-aspect-ratio: 100/70) {
    .canvas {
        // MAINTAIN 100:70 aspect-ratio
        width:  142vh;
        height: 100vh;
        margin: 0 auto 0 auto;
    }

    .text {
        // MAINTAIN 100:70 aspect-ratio
        width:  142vh;
        margin: 0 auto 0 auto;
    }
}